
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background-color: #000;
    color: white;
    padding: 10px;
    text-align: center; /* Centers the h1 and p elements */
    position: relative; /* Allows h4 to be positioned absolutely */
}

header h1, header p {
    font-size: 2.5em;
    margin-bottom: 10px;
    margin-top: 0px;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

header h4 {
    font-size: 1.8em; /* Adjust size as needed */
    text-align: left;  /* Align text to the left */
    position: absolute; /* Position h4 absolutely within the header */
    left: 230px; /* Adjust the distance from the left edge */
    top: 40px; /* Adjust the distance from the top */
    margin: 0;
}

header h5 {
    font-size: 1.8em; /* Adjust size as needed */
    text-align: right;  /* Align text to the left */
    position: absolute; /* Position h4 absolutely within the header */
    right: 230px; /* Adjust the distance from the left edge */
    top: 40px; /* Adjust the distance from the top */
    margin: 0;
}

/* Hero Section */
.hero {
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 200px;
}

.hero-img {
    max-width: 35%;
    height: auto;
    border-radius: 0px;
    justify-content: center;
    margin-top: -200px;
    transition: transform 0.2s ease; 
}

.hero-img:hover {
    transform: scale(1.1);
}

.description-box {
    margin-top: 10px; 
    max-width: 1000px;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 450px;
}

.description-box h2 {
    font-size: 38px;
}

.description-box p {
    font-size: 20px; 
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.gallery {
    margin-top: 50px;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center; 
    gap: 0px;
}

.gallery-img {
    width: 40%;
}

.hero-img, .description-box {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.hero-img {
    animation-delay: 0.3s;
}

.description-box {
    animation-delay: 0.5s;
}

.features {
    background-color: #000000;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.features h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.pros-img {
    max-width: 35%;
    height: auto;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.pros{
    text-align: center;
    margin-top: 50px;
    display: block;
}


.display-img {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.dis{
    text-align: center;
    margin-top: -50px;
    display: block;
}

.batt-img {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.batt{
    text-align: center;
    margin-top: 0px;
    display: block;
}

.mem-img {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.mem{
    text-align: center;
    margin-top: 0px;
    display: block;
}

.grap-img {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}

.grap{
    text-align: center;
    margin-top: 0px;
    display: block;
}

/* Footer */
footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
}